<% @title = 'Dashboard | Robin' %>

<div class="container">
	<div class="row">
		<h1>Dashboard</h1>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
			  	<div class="panel-heading">
				    <h3 class="panel-title">Current Challenge</h3>
				</div>
				<div class="panel-body">
					<% if active_problem? %>
						Click <%= link_to  'here', problem_url(most_recent_problem) %> to go to the most recent challenge, <% most_recent_problem.title %>, which was added by <% most_recent_problem.user_id %>
						    #<%= link_to 'Write solution', new_problem_solution_path(@most_recent_problem), class: 'btn btn-lg btn-info btn-block' %>
						  
					<% else %>
						<!-- <p>No current problem</p> -->
						<% if !@most_recent_problem %>
							Currently, no challenge has been set. Maybe you should create one?<br /><br />
							<%= link_to 'Click here to do so.', new_problem_url, class: 'btn btn-default btn-primary' %>
						<% elsif @most_recent_problem.winner == current_user %>
							Congratulations on winning the last challenge! You now need to set a challenge for everybody else.<br /><br />
							<%= link_to 'Click here to do so.', new_problem_url, class: 'btn btn-default btn-primary' %>
						<% elsif @most_recent_problem.winner == nil %>
							The last challenge has not yet been graded by <%= @most_recent_problem.author.name %>. Remind him to do it soon, so the next round can begin!
						<% else %>
							<%= @most_recent_problem.winner.name%> won the last challenge. Remind him to set the next one soon!
						<% end %>
					<% end %>
				</div>
			</div>
<!-- 			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"></h3>
				</div>
				<div class="panel-body">
				</div>
			</div> -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">My Profile</h3>
				</div>
				<div class="panel-body">
				Information from profile
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Leaderboard</h3>
				</div>
				<div class="panel-body">
				[top three of leaderboard]
				Click here to check out the rest of the leaderboard, and see who's on top!
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Your score</h3>
				</div>
				<div class="panel-body">
					Your score is:
					<h1><% current_user.score %></h1>
					<h1>99</h1>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Big ass logo</h3>
				</div>
				<div class="panel-body">
					<% image_tag("robin_justbird_square.PNG", alt: "") %>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">FAQ</h3>
				</div>
				<div class="panel-body">
					Have you taken a moment to read through the FAQ? Check it out and find out the best way to get the most out of <span class="smallcaps">ROBIN</span>.
				</div>
			</div>
		</div>
	</div>
</div>
