<% @title = 'Dashboard | Robin' %>

<div class="container">
	<div class="row">
		<h1>Dashboard</h1>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
			  	<div class="panel-heading">
				    <h3 class="panel-title">Current Challenge</h3>
				</div>
				<div class="panel-body text-center">
					<% if active_problem? %>
						<h3><%= most_recent_problem.title %></h1><h4><small>By: <%= link_to most_recent_problem.author.name, most_recent_problem.author %></small></h4>
					<% else %>
						<!-- <p>No current problem</p> -->
						<% if !@most_recent_problem %>
							Currently, no challenge has been set. Maybe you should create one?<br /><br />
						<% elsif @most_recent_problem.winner == current_user %>
							Congratulations on winning the last challenge! You now need to set a challenge for everybody else.<br /><br />
						<% elsif @most_recent_problem.winner == nil %>
							The last challenge has not yet been graded by <%= @most_recent_problem.author.name %>. Remind him to do it soon, so the next round can begin!
						<% else %>
							<%= @most_recent_problem.winner.name%> won the last challenge. Remind him to set the next one soon!
						<% end %>
					<% end %>
				</div>
				<div class="panel-footer text-center">
					<% if active_problem? %>
						<%= link_to 'Write solution', @most_recent_problem, class: 'btn btn-info btn-primary' %>
					<% elsif !@most_recent_problem %>
						<%= link_to 'Click here to do so.', new_problem_url, class: 'btn btn-default btn-primary' %>
					<% elsif @most_recent_problem.winner == current_user %>
						<%= link_to 'Click here to do so.', new_problem_url, class: 'btn btn-default btn-primary' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Your rewards</h3>
				</div>
				<div class="panel-body text-center badges">
					<table style="width:224px;margin-left:-112px;left:50%;position:relative">
						<tr>
							<td data-toggle="tooltip" title="Commentator" data-container='body' style="color: #A18062">
									<span class="fa-stack fa-4x"><i class="fa fa-certificate fa-stack-2x"></i><i class="fa fa-comment-o fa-stack-1x fa-inverse"></i></span>
							</td>
							<td data-toggle="tooltip" title="Short and sweet" data-container='body' style="color:#896744">
									<span class="fa-stack fa-4x"><i class="fa fa-certificate fa-stack-2x"></i><i class="fa fa-bars fa-stack-1x fa-inverse"></i></span>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">FAQ</h3>
				</div>
				<div class="panel-body">
					Have you taken a moment to read through the FAQ? Check it out and find out the best way to get the most out of <span class="smallcaps">ROBIN</span>.
				</div>
				<div class="panel-footer text-center">
					<a href="/faq" class="btn btn-default">Answer my questions</a>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Leaderboard</h3>
				</div>
				<table class="table panel-body">
				<tr><th>#</th><th>Name</th><th>Points</th>
				<% (@start_pos..@start_pos+2).each do |i|; user = @leaders[i] %>
				<tr <%= if user == current_user then "class=info"end%>><td><%= i+1 %></td><td><%=link_to user.name, user%></td><td><%=user.score%></td></tr>
				<% end %>
  				</table>
			</div>
			<!-- <div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Your score</h3>
				</div>
				<div class="panel-body">
					<h1><%= current_user.score %> points</h1>
				</div>
			</div> -->
			<div class="panel panel-default">
				<div class="panel-body row">
					<div class='col-xs-6 col-xs-offset-3'><%= image_tag("robin_rect.png", class: "img-responsive",alt: "") %>
				</div></div>
			</div>
		</div>
	</div>
</div>
