<div class="container">
    <div class="row">
      <div class="twelve columns centered">

      <% @title = 'Login | Robin' %>
<h1>Sign in below...</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label ' ' %>
      <%= f.submit "Log in", class: "button-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", '/users/new' %></p>

</div></div></div>