<% @title = 'Login | Robin' %>

<div class="row text-center"><div class='col-md-4 col-md-offset-4'>
  <h1>Log in</h1>

  <%= form_for(:session, url: login_path) do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    </div>
    <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>

  <p><br>New user? <%= link_to "Sign up now!", '/users/new' %></p>
</div></div>