<div class="container"><div class="row"><div class="twelve columns">

<h1>Create a new challenge</h1>

<%= form_for @problem, html: { method: :post } do |f| %>
  <p>
    <%= f.label 'Challenge title:' %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label 'Challenge description:' %>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label 'Time to solve:' %>
    
    <%= select_tag(:expiry, options_for_select(
      (if devmode? then [['1 second', 1], ['1 minute', 1.minute], ['5 minutes', 5.minutes]] else [] end) + [['1 day', 1.days], ['3 days', 3.days], ['1 week', 7.days]])) %>
  <p>
    <%= f.submit %>
  </p>
<% end %>

</div></div></div>