<div class="container"><div class="row"><div class="twelve columns">

<h1>Create a new challenge</h1>

<%= form_for @problem, html: { method: :post } do |f| %>
  <p>
    <%= f.label 'Challenge title:' %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label 'Challenge description:' %>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

</div></div></div>