<div class='container'><h4 style="margin-bottom:-15px"><small>Problem</small></h4>
<h1><%= @problem.title %></h1>
<% @is_most_recent = @problem == most_recent_problem %>
<% if @is_most_recent && active_problem? %>
	<span class="label label-success">Active</span>
	Ends on <%= @problem.expiry.strftime("%d %b %Y, %H:%M")%>
<% else %>
	Ended on <%= @problem.expiry.strftime("%d %b %Y, %H:%M")%>
<% end %>

<h4><small>By: <%= @problem.author.name %></small></h4>

<div class='well'><%= @problem.text.html_safe %></div>

<% if !@is_most_recent || !active_problem? || question_master? %>
	<h4>Solutions</h4>
	<%= @col = {:user => !@is_most_recent, :problem => false}; render "solutions/solutions_table" %>
<% else %>
	<div class='alert alert-info'> Solutions are hidden until problem is solved</div>
<% end %>

<% if @is_most_recent && active_problem? && !question_master? %>
	<%= link_to 'Write solution', new_problem_solution_path(@problem) %>
<% elsif @is_most_recent && !active_problem? %>

<div class='text-center'>	<%= link_to 'Grade this', edit_problem_path(@problem), class: 'btn btn-lg btn-info btn-block' %>
</div><% end %>


<% if @problem.winner_id %>
	<div class='alert alert-success'>Winner: <%= link_to @problem.winner.name, @problem.winner, class: 'alert-link' %></div>
<% end %></div>
