<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal"><fieldset>
                <legend><h1>Create an account</h1></legend>
                <p>If you already have an account, <%= link_to "click here to login", '/login' %>.
                    <br />
                    <br />
                    <%= form_for @user, url: users_path do |f| %>
                    <div class="form-group">
                        <%= f.label :name, :class => "col-sm-3 control-label" %>
                        <div class="col-sm-9">
                            <%= f.text_field :name, :class => "form-control" %>
                            <p class="help-block">Do not include spaces.</p>
                        </div>
                    </div>
                    <div class="form-group">      
                        <%= f.label :email, :class => "col-sm-3 control-label"  %>
                        <div class="col-sm-9">
                            <%= f.text_field :email, :class => "form-control" %>
                            <p class="help-block">Please provide a valid email address.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= f.label :password, :class => "col-sm-3 control-label"  %>
                        <div class="col-sm-9">
                            <%= f.password_field :password, :class => "form-control" %>
                            <p class="help-block">Password should be a minimum of 8 characters.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= f.label :password_confirmation, :class => "col-sm-3 control-label" %>
                        <div class="col-sm-9">
                            <%= f.password_field :password_confirmation, :class => "form-control" %>
                            <p class="help-block">Please confirm password.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <%= check_box_tag(:agree_to_tos) %>
                            I agree to the <a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ' target="_blank">Terms of Service</a>
                        </div>
                    </div>
                    <br />


                    <div class="form-group">
                    <!-- how the hell do you style this -->
                        <%= f.submit %>
                    </div>

                    <% end %>

                </fieldset></form>
            </div>
        </div>
    </div>