<h1><%= @user.name %>
<small><%= @user.score %> Points</small></h1>

<%= render 'solutions/solutions_table' %>


<h2>Problems</h2>
<table class="table">
	<tr><th>Title</th><th>Points</th></tr>
	<% @problems.each do |problem| %>
		<tr><td><%= link_to problem.title, problem %></td><td><%=problem.points%></td></tr>
	<% end %>
</table>
