<%= form_for @solution, url: problem_solutions_path, html: { method: :post } do |f| %>
	<h1><%= @problem.title %></h1>
	<p><%= @problem.text %></p>
	<p>Problem set by <%= @problem.author.name %></p>

	<p>
		<%= f.label :text %> <p>
		<%= f.text_area :text, placeholder: "Enter your solution" %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
