<!DOCTYPE html>
<html>
<head>
	<title><%= @title || 'Robin' %></title>
		<%= stylesheet_link_tag    'application', media: 'all'%>
		<%= csrf_meta_tags %>
		<%= javascript_include_tag 'application'%>
		<% if @highlight %>
			<%= stylesheet_link_tag "highlight/agate", media: "all" %>
			<%= javascript_include_tag "highlight.pack" %>
		<% end %>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
		  <%= link_to image_tag('robin_justbird_square.PNG', style: "max-height:52px;margin-top:-15px;"), if logged_in? then '/dashboard' else '/' end, class: 'navbar-brand' %>
		  <%= link_to 'Robin', if logged_in? then '/dashboard' else '/' end, class: 'navbar-brand' %>
	     </div>
	    <div class="collapse navbar-collapse" id='nav'>
	      <ul class="nav navbar-nav navbar-right">
	        <% if logged_in? %>
	        	<li><%= link_to(most_recent_problem) do %>
	        		<i class="fa fa-fw fa-pencil"></i> Current Problem
	        	<% end %></li>
		        <li><%= link_to(users_url) do %>
		        		<i class="fa fa-fw fa-trophy"></i> Leaderboard
	        	<% end %></li>
		        <li><%= link_to(problems_url) do %>
		        	 	<i class="fa fa-fw fa-list-alt"></i> Archive
	        	<% end %></li>
	        	<li><%= link_to('/faq') do %>
		        	 	<i class="fa fa-fw fa-info"></i> FAQ
	        	<% end %></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		          	<i class="fa fa-fw fa-user"></i> <%=current_user.name %> <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><%= link_to(user_url(@current_user)) do %>
		            	<i class="fa fa-fw fa-cog"></i> Profile
		            <%end%></li>
		            <li class="divider"></li>
		            <li><%= link_to(logout_url, method: :post) do %>
		            	<i class="fa fa-fw fa-sign-out"></i> Logout
		            <% end %></li>
		          </ul>
		        </li>
		    <% else %>
		    	<%= link_to('/faq', :class => 'btn btn-default navbar-btn') do %>
		    	<!-- not sure if it should be sessions/faq or just faq but right now the route sessions/faq goes to sessions#faq.-->
		    		About Robin <i class="fa fa-fw fa-info"></i>
		    	<% end %>
		        <%= link_to(login_url, :class => 'btn btn-default navbar-btn') do %>
		        	Log in <i class="fa fa-fw fa-sign-in"></i>
		        <% end %>
		    <% end %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class='container'>
		<div class='row'>
			<div class='col-sm-6 col-sm-offest-3'>
 				<% if flash[:notice] %>
					<div class='alert alert-info'>
						<%= flash[:notice] %>
			  	</div>
				<% end; if flash[:danger] %>
					<div class="alert alert-danger">
						<%= flash[:danger] %>
					</div>
				<% end %>
    	</div>
		</div>
	</div>
    <div class="container-fluid">

		<%= yield %>

    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-center"><br>The <span class="smallcaps">ROBIN</span> application was developed by<br />
	    	Robert Bastian 路 Paavan Buddhdev 路 Aiken Cairncross 路 James Dai 路 Alistair Gavin
	    	<br />
	    		&hearts;
	    	</p>
      </div>
    </footer>
</body>
</html>
