<!DOCTYPE html>
<html>
<head>
	<title><%= @title || 'Robin' %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>		

		<link href='//fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 
		<%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <section id="topbar">
    <div class="container">
      <div class="row">
        <div class="two columns">
          <a href="/"><%= image_tag "robin_justbird_square.PNG", width: '50px' %></a>
        </div>
        <nav class="ten columns">
          <ul>
            <% if logged_in? %>
	            <li><%= link_to '<i class="fa fa-fw fa-trophy"></i>'.html_safe, users_url %></li>
	            <li><%= link_to '<i class="fa fa-fw fa-list-alt"></i>'.html_safe, problems_url %></li>
	            <li><%= link_to '<i class="fa fa-fw fa-user"></i>'.html_safe, user_url(@current_user) %></li>
	            <li><%= link_to '<i class="fa fa-fw fa-sign-out"></i>'.html_safe, logout_url, method: :post %></li>
            <% else %>
	            <li><%= link_to '<i class="fa fa-fw fa-sign-in"></i> Log in'.html_safe, login_url %></li>
	            <li><%= link_to '<i class="fa fa-fw fa-user-plus"></i> Sign up'.html_safe, '/users/new' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </section>

	<% if flash[:notice] %>
		<div class='alert alert-info'>
			<%= flash[:notice] %>
		</div>
	<% elsif flash[:danger] %>
		<div class="alert alert-danger">
			<%= flash[:danger] %>
		</div>
	<% end %>

	<%= yield %>
    
  <section id="footer">
    <div class="container"><div class="row">
	    <div class="twelve columns centered">
	    	<br />
	    	<p>
	    	The <span class="smallcaps">ROBIN</span> application was developed by<br />
	    	Robert Bastian 路 Paavan Buddhdev 路 Aiken Cairncross 路 James Dai 路 Alistair Gavin
	    	<br /><br />
	    	&lt;3
	    	</p>
	    </div>
    </div></div>
  </section> 
</body>
</html>
